.card{
   &__inner{
      max-width: 1200px;
      height: 226px;
      display: grid;
      margin: 40px auto;
      padding: 24px 32px 24px 0px;
      background-color: #fff;
      grid-template-columns: 202px 1fr 331px;
   }
   &__img{
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__title{
      //styleName: Heading 3;
      font-family: "Roboto";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: #383736;
   }
   &__status{
      //styleName: Medium / Caption-medium;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      border-radius: 22px;
      height: 32px;
      padding: 0px 16px 0px 14px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      &--green{
         background: #F2FAF0;
         color: #64B851;
         
      }
      &--red{
         background: #FAF0F0;
         color: #EB4B51;
      }
      &--img{
         margin-right: 9px;
      }
   }

}

.description{
   &__count{
      //styleName: Medium / Paragraph-medium;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #383736;
   }
}

.price{
   padding-left: 31px;
   border-left: 1px solid #F0EEEB;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__price{
      //styleName: Heading 3;
      font-family: "Roboto";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: #383736;
      margin-bottom: 12px;
   }
   &__button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 44px;
      border-radius: 6px;
      padding: 12px, 16px, 12px, 16px;
      margin-top: 22px;
      &--img{
         margin-right: 9px;
      }
      &--text{
         //styleName: Medium / Paragraph-medium;
         font-family: Roboto;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: 0em;
         text-align: left;
      }
   }
}