.footer{
   background: #1F2021;
   padding: 91px 80px 92px 80px;
   &__name{
      font-family: Montserrat;
   ont-size: 48px;
   ont-style: normal;
   ont-weight: 700;
   ine-height: 59px;
   etter-spacing: 0em;
   ext-align: left;

   }
}