.header{
   background-image: url(../img/header.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 40px 0px 66px 0px;
   color: white;
   position: relative;
   &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-color: rgba(70, 70, 70, 0.692);
   }
   &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
      margin-bottom: 50px;
      @media (max-width: 675px){
         margin-bottom: 10px;
      }
   }
   &__left{
      display: flex;
      align-items: center;
   }
   &__bottom{
      position: relative;
      z-index: 1;
      @media (max-width: 675px){
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   &__logo{
      svg{
         width: 78px;
         height: 50px;
      }
      margin-right: 120px;
      @media (max-width: 675px){
         margin-right: 20px;
      }
   }
   &__number{
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: left;
      @media (max-width: 848px) {
         display: none;
      }
   }
   &__text{
      font-family: 'Montserrat';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: right;
      margin-top: 3px;
      @media (max-width: 848px) {
         display: none;
      }
   }
   &__title{
      font-family: 'Montserrat';
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0em;
      text-align: left;
      @media (max-width: 675px){
         font-size: 30px;
         text-align: center;
      }
   }
   .container{
      @media (max-width: 675px){
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }
   @media (max-width: 675px){
      padding: 20px;
   }
}

.menu{
   position: relative;
   &__list{
      display: flex;
      @media (max-width: 675px){
         flex-direction: column;
         position: absolute;
         width: 100%;
         background-color: yellowgreen;
         
      }
      
   }
   &__item{
      margin-right: 50px;
      &:last-of-type{
         margin-right: 0px;
      }
   }
   a{
      font-family: 'Montserrat';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffffa1;
      transition: all .2s ease ;
      &:hover{
         color: white;
      }
      &:active{
         color: yellow;
      }
   }
   @media (max-width: 675px){

   }
}
.phone{
   color: green;
   font-size: 80px;
   position: fixed;
   right: 40px;
   top: 40px;
   display: none;
   animation: phone 5s ease infinite alternate;
   @media (max-width: 848px) {
      display: block;
   }
   @media (max-width: 675px){
      bottom: 40px;
      top: auto;
   }
}

@keyframes phone {
   0%{
      transform: rotate(0deg) scale(1.3);
   }
   30%{
      transform: rotate(-20deg) scale(1);
   }
   60%{
      transform: rotate(30deg) scale(1.2);
   }
   90%{
      transform: rotate(-40deg) scale(1);
   }
   100%{
      transform: rotate(10deg) scale(1.2);
   }
}

.burger{
   font-size: 20px;
   font-weight: bold;
   color: white;
   position: relative;
   transform: translateY(-10px);
   width: 30px;
   height: 30px;
   overflow: hidden;
   &::before{
      content: '';
      width: 100%;
      height: 2px;
      background-color: white;
      top: 7px;
      position: absolute;
   }
   &::after{
      content: '';
      width: 100%;
      height: 2px;
      background-color: white;
      bottom: 0px;
      left: 0px;
      position: absolute;
   }
   &.active{
      &:after{
         transform: rotate(45deg) translateY(-50%) ;
         top: 50%;
      }
      &::before{
         transform: rotate(-45deg) translateY(-50%);
         top: 50%;
      }
      font-size: 0px;
   }
}

