.header{
   background-image: url(../img/header.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 40px 0px 66px 0px;
   color: white;
   position: relative;
   &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-color: rgba(138, 138, 138, 0.493);
   }
   &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
   }
   &__bottom{
      position: relative;
      z-index: 1;
   }
   a{
      color: white;
      cursor: pointer;
   }
   &__logo{
      svg{
         width: 78px;
         height: 50px;
      }
   }
}

.menu{
   &__list{
      display: flex;
      
      
   }
   &__item{
      mar
   }
}