.main{
   padding-top: 37px;
}
.filters{
   display: flex;
   &__text{
      margin-right: 48px;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      

   }
   &__button{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 55px;
      position: relative;
      padding-right: 29px;
      background-color: transparent;
      img{
         margin-left: 14px;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         transition: all .3s ease;
      }
      
   }
   .active{
      img{
         transform: translateY(-50%) rotate(180deg);
      }
   }
}

.gallery{

}

.card{
   width: 380px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}