.main{
   padding-top: 37px;
}
.filters{
   &__text{
      margin-right: 48px;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      

   }
   &__button{
      display: flex;
      align-items: center;
      justify-content: space-between;
      img{
         margin-left: 14px;
      }
   }
}