$menu-color : #3A63DE;
$dialogs-color : white;
$conversation-color: white;
$your-message-color: #3A63DE;
$message-color: #F2F5FA;

$border-color: rgba(225, 227, 229, 1);


$main-font: 'Poppins', sans-serif;


