@import 'nullstyle';
@import 'card';


body{
   background-color: bisque;
}
.container{
   max-width: 1280px;
   margin: 0 auto;
   
}

.text{
   //styleName: Caption;
   font-family: 'Roboto';
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0em;
   text-align: left;
   &--red{
      //styleName: Medium / Paragraph-medium;

      font-size: 14px;
      font-style: normal;
      font-weight: 500;
l  ine-height: 20px;
letter-spacing: 0em;
text-align: left;

   }
}


